@import url(../lib/iconfont/iconfont.css);

footer {
  width: 100%;
  height: 1.53125rem;
  background: #484850;
}

footer ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer ul li {
  width: 20%;
  height: 1.53125rem;
  text-align: center;
}

footer ul i {
  display: block;
  margin-top: 0.28125rem;
}

footer ul b {
  display: block;
  font-size: 0.40625rem;
  color: #fff;
  font-weight: 500;
}

.iconfont {
  font-size: 0.5625rem;
  color: #fff;
}