@charset "UTF-8";

@import url(flexible.css);

@import url(mobile.css);

@import url(../lib/swiper-3.3.1.min.css);

@import url(../css/myiscroll.css);

@import url(../lib/css/layui.css);

@import url(../lib/css/modules/laydate/laydate.css);

@import url(../lib/css/modules/code.css);

@import url(../lib/css/modules/layer/default/layer.css);

body,
html {
  font-family: "微软雅黑";
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}

header {
  height: 1.34375rem;
  background: #e4366b;
}

header h2 {
  font-size: 0.5625rem;
  color: #fff;
  line-height: 1.34375rem;
  text-align: center;
}

.search {
  width: 100%;
  height: 1.375rem;
  background: #52525a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search label {
  position: relative;
  width: 9.28125rem;
  height: 0.90625rem;
  background: url(../img/r-search.png) center no-repeat;
  background-size: 100% 100%;
}

.search label .sBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.09375rem;
  height: 0.90625rem;
}

.search .txt {
  width: 7.03125rem;
  height: 0.90625rem;
  line-height: 0.90625rem;
  font-size: 0.40625rem;
  color: #52525a;
  margin-left: 1.25rem;
  border: none;
  outline: none;
  background: none;
  font-family: "微软雅黑";
}

section {
  width: 100%;
  height: 3.90625rem;
}

section .swiper-container {
  width: 100%;
  height: 3.90625rem;
}

section .swiper-container .swiper-wrapper {
  width: 100%;
  height: 3.90625rem;
}

section .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 3.90625rem;
}

section .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 3.90625rem;
}

.mygoods .goods {
  width: 100%;
  height: 3.46875rem;
  border-bottom: 1px solid #cbcbcb;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.15625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mygoods .goods .pic {
  width: 2.71875rem;
  height: 2.71875rem;
}

.mygoods .goods .pic img {
  width: 100%;
  height: 100%;
}

.mygoods .goods .info {
  width: 6.03125rem;
  height: 2.71875rem;
  margin: 0.09375rem 0 0 0.0625rem;
  position: relative;
}

.mygoods .goods .info p {
  font-size: 0.40625rem;
  color: #000;
}

.mygoods .goods .info .toDetail {
  font-size: 0.40625rem;
  color: #000;
}

.mygoods .goods .info p:nth-child(2) {
  margin: 0.09375rem 0;
}

.mygoods .goods .info p:nth-child(3) {
  margin: 0.0625rem 0;
}

.mygoods .goods .info .car {
  width: 1.859375rem;
  height: 0.8125rem;
  background: url(../img/r-car1.png) center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 0.125rem;
}

.mygoods .goods .info .price {
  color: #e5376a;
}

.mygoods .goods .info .discount {
  text-decoration: line-through;
  color: #bcbabb;
}

.nogoods {
  width: 100%;
  height: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  font-size: 0.46875rem;
  color: #000;
  background: #f5f4f0;
  display: none;
}

.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: 0.15625rem;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.125rem;
}

.swiper-pagination-bullet {
  width: 0.1875rem;
  height: 0.1875rem;
}

.swiper-pagination-bullet-active {
  background: #e4436f;
}

.list {
  width: 100%;
  height: 9.375rem;
}

.list .goods {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #cbcbcb;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.15625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list .goods .pic {
  width: 2.71875rem;
  height: 2.71875rem;
}

.list .goods .pic img {
  width: 100%;
  height: 100%;
}

.list .goods .info {
  width: 6.03125rem;
  height: 2.71875rem;
  margin: 0.09375rem 0 0 0.0625rem;
  position: relative;
}

.list .goods .info p {
  font-size: 0.40625rem;
  color: #000;
}

.list .goods .info .toDetail {
  font-size: 0.40625rem;
  color: #000;
}

.list .goods .info p:nth-child(2) {
  margin: 0.09375rem 0;
}

.list .goods .info p:nth-child(3) {
  margin: 0.0625rem 0;
}

.list .goods .info .car {
  width: 1.859375rem;
  height: 0.8125rem;
  background: url(../img/r-car1.png) center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 0.125rem;
}

.list .goods .info .price {
  color: #e5376a;
}

.list .goods .info .discount {
  text-decoration: line-through;
  color: #bcbabb;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 1.53125rem;
  background: #484850;
}

.layui-layer-dialog .layui-layer-content {
  font-size: 0.5625rem;
  line-height: 2.03125rem;
}

.layui-layer-loading .layui-layer-content {
  width: 2.1875rem;
  height: 0.9375rem;
  background-size: 100% 100%;
}

