@charset "UTF-8";

@import url(flexible.css);

@import url(mobile.css);

body,
html {
  font-family: "微软雅黑";
  -webkit-tap-highlight-color: transparent;
}

header {
  height: 1.34375rem;
  line-height: 1.34375rem;
  background: #e4366b;
  text-indent: -1.0625rem;
  font-size: 0.5625rem;
  color: #fff;
  text-align: center;
}

header .back {
  float: left;
  width: 0.84375rem;
  height: 0.59375rem;
  margin-left: 0.28125rem;
  margin-top: 0.375rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.84375rem 0.59375rem;
}

section {
  width: 100%;
  background: #f7f7f7;
  height: 14.84375rem;
}

section .good-01,
section .good-02 {
  width: 100%;
  height: 3.625rem;
  border-bottom: 2px solid #cbcbcb;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.46875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

section .good-01 .pic,
section .good-02 .pic {
  width: 2.71875rem;
  height: 2.71875rem;
}

section .good-01 .pic img,
section .good-02 .pic img {
  width: 100%;
  height: 100%;
}

section .good-01 .info,
section .good-02 .info {
  width: 6.03125rem;
  height: 2.71875rem;
  margin: 0.09375rem 0 0 0.0625rem;
  position: relative;
}

section .good-01 .info p,
section .good-02 .info p {
  font-size: 0.40625rem;
  color: #000;
}

section .good-01 .info p:nth-child(1),
section .good-02 .info p:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .good-01 .info p:nth-child(2),
section .good-02 .info p:nth-child(2) {
  margin: 0.09375rem 0;
}

section .good-01 .info p:nth-child(3),
section .good-02 .info p:nth-child(3) {
  margin: 0.1875rem 0;
}

section .good-01 .info .car,
section .good-02 .info .car {
  width: 1.859375rem;
  height: 0.8125rem;
  background: url(../img/r-car1.png) center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 0.125rem;
}

section .good-01 .info .del-btn,
section .good-02 .info .del-btn {
  width: 0.46875rem;
  height: 0.546875rem;
  *display: inline;
  *zoom: 1;
  background: url(../img/r-delbtn.png) center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 0.125rem;
}

section .good-01 .info .price,
section .good-02 .info .price {
  color: #e5376a;
}

section .good-01 .info .discount,
section .good-02 .info .discount {
  text-decoration: line-through;
  color: #bcbabb;
}